<html>
    <head>
        <title>Transaction Receipt</title>
    </head>
    <body>
        <p>Transaction Hash: {{ tx_receipt.transactionHash }}</p>
        <p>Transaction Index: {{ tx_receipt.transactionIndex }}</p>
        <p>Block Hash: {{ tx_receipt.blockHash }}</p>
        <p>Block Number: {{ tx_receipt.blockNumber }}</p>
        <p>From: {{ tx_receipt.from }}</p>
        <p>To: {{ tx_receipt.to }}</p>
        <p>Contract Address: {{ tx_receipt.contractAddress }}</p>
        <p>Logs: {{ tx_receipt.logs }}</p>
    </body>
</html>